/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
} */

.section-exercises {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-exercises h1 {
    padding: 2rem;
    text-align: center;
}

.exercises-list {
    padding-inline: 1.6rem;
    width: 100%;
}

@media(min-width:768px) {
    .exercises-list {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.exercise-detail {
    background: var(--third);
    border: .1rem solid var(--gray);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    position: relative;
    /* Necesario para contener la capa del gradiente */
    overflow: hidden;
    /* Para que el gradiente no se salga de las esquinas redondeadas */
    z-index: 1;
    /* Asegura que el contenido se vea */
}

/* Creamos una capa invisible con el gradiente */
.exercise-detail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* entre el 10% y el 80% es donde ocurre el degradado */

    /* 0deg hacia arriba */

    /* 90deg hacia la derecha */

    /* 180deg hacia abajo */

    /* 270deg hacia la izquierda */
    background: linear-gradient(140deg, var(--blue) 0%, var(--blue) 10%, var(--third) 80%);

    opacity: 0;
    /* Al principio no se ve */
    transition: opacity 300ms ease-in-out;
    /* ¡Aquí sí funciona la transición! */
    z-index: -1;
    /* Se queda detrás del texto pero delante del fondo original */
}

.exercise-detail:hover{
    box-shadow: 0 10px 20px rgba(19, 0, 129, 0.281);
}

/* Cuando pasas el ratón, la capa del gradiente aparece suavemente */
.exercise-detail:hover::before {
    opacity: 1;
    
}



.exercise-detail:last-of-type {
    margin-bottom: 0;
}

.form-create {
    display: none;
}

@media(min-width:768px) {
    .form-create {
        display: block;
    }
}

@media(min-width:768px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}




.section-form {
    max-height: 60vh;
}