/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
} */

.section-exercises {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-exercises h1 {
    padding: 2rem;
    text-align: center;
}

.exercises-list {
    padding-inline: 1.6rem;
    width: 100%;
}

@media(min-width:768px) {
    .exercises-list {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.exercise-detail {
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.exercise-detail:last-of-type {
    margin-bottom: 0;
}

.form-create {
    display: none;
}

@media(min-width:768px) {
    .form-create {
        display: block;
    }
}

@media(min-width:768px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}




.section-form {
    max-height: 60vh;
}