.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    column-gap: 1rem;
}

@media(min-width:768px) {
    .nav {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.nav__links,
.nav__session {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 3rem;
    column-gap: 2rem;
}

@media(min-width:768px) {

    .nav__links,
    .nav__session {
        flex-direction: row;
        width: fit-content;
    }
}

.nav__link {
    text-decoration: none;
    color: var(--blanco);
    text-align: center;
}

.nav__item,
.session__logout {
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--blanco);
    background-color: var(--gray);
}

@media(min-width:768px) {

    .nav__item,
    .session__logout {
        border-radius: 3rem;
        width: auto;
        border: 1px solid var(--blanco);
    }
}

.nav__logo {
    font-size: 2rem;
}

.nav__logo .span {
    font-weight: 800;
}