  /* El secreto: valores diferentes para cada esquina */
  /* .gota {
  width: 300px;
  height: 300px;
  cuando la ruta es de public no lleva '/public/*
  background: url(/public/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
} 
**/

  .section-form {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* axis main */
    justify-content: center;

  }

  .form {
    padding: 0 1.6rem;
    padding-top: 1.6rem;

  }

  @media(min-width:768px) {
    .section-form {
      margin: 0 auto;
      width: 60%;
    }
  }